.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  gap: 2rem;
}

.table {
  margin-top: 2rem;

  &__th {
    &:nth-child(1) {width: 20%}
    &:nth-child(2) {width: 15%}
    &:nth-child(3) {width: 10%}
    &:nth-child(4) {width: 15%}
    &:nth-child(5) {width: 20%}
    &:nth-child(6) {width: 20%}
  }

  &__td {
    &:nth-child(1) {width: 20%}
    &:nth-child(2) {width: 15%}
    &:nth-child(3) {width: 10%}
    &:nth-child(4) {width: 15%}
    &:nth-child(5) {width: 20%}
    &:nth-child(6) {width: 20%}
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 60px;
    padding: 0 20px;
    margin: .5rem;
    font-weight: bold;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem;
    border-radius: 10px;
    height: 60px;
    padding: 0 20px;
    background: #1D1D1D;
  }
}

@media screen and (max-width: 1024px) {
  .table {
    &__header {
      display: none;
    }

    &__row {
      flex-direction: column;
      height: auto;
      align-items: flex-start;
      padding: 20px;
      gap: 1rem;
    }

    &__td {
      padding-left: 140px;
      position: relative;

      &::before {
        font-weight: bold;
        color: #8f8f8f;
        font-size: 14px;
        content: attr(data-content);
        position: absolute;
        left: 10px;
      }
    }
  }
}