//@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Moulpali&family=New+Rocker&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "modals";

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Moulpali';
  src: url('../fonts/Moulpali/Moulpali-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'New Rocker';
  src: url('../fonts/New_Rocker/NewRocker-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  background: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100svh;
  //background: linear-gradient(180deg, #000 47.5%, #0B0010 100%);
  z-index: 2;
  position: relative;
}

.b {
  font-weight: bold;
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
  border-radius: 20px;
}