.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../../public/images/banner.png");
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    height: 700px;
    background-position: center;
    background-size: cover;
    transition: 1s ease-in-out;
    animation: banner 1s;
  }

  &__content {
    width: 430px;
    margin: 410px auto 0;
    z-index: 10;
  }

  &__title {
    font-size: 80px;
    font-family: "New Rocker", sans-serif;
    text-align: center;
  }
  
  &__description {
    font-size: 14px;
    padding: 0 30px;
    text-align: center;
  }

  &__items {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 25px;
    justify-content: center;
  }

  &__item {
    transition: .1s ease-in;
    border-radius: 20px;
    background: #181818;
    box-shadow: 0px 1px 15.2px -3px rgba(255, 255, 255, 0.25);
    height: 30px;
    padding: 0 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: .5rem;

    &:hover {
      background: #242424;
    }
  }

  &__online {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #14C771;
    filter: drop-shadow(0px 1px 5.5px rgba(20, 199, 113, 0.25));
  }

  &__scroll {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    img {
      animation: scroll infinite 1s;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes banner {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 680px) {
  .banner {
    &__image {
      height: 400px;
    }

    &__content {
      margin: 250px auto 0;
    }

    &__title {
      font-size: 60px;
    }
  }
}

@media screen and (max-width: 500px) {
  .banner {
    &__content {
      width: 350px;
    }

    &__description {
      font-size: 12px;
    }

    &__items {
      flex-wrap: wrap;
    }
  }
}