.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  &__left {
    width: 250px;
  }
}

.section {
  margin-top: 100px;
}

@media screen and (max-width: 450px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
  }
}